/UrduSER A comprehensive dataset for speech emotion recognition in Urdu language/Angry
/UrduSER A comprehensive dataset for speech emotion recognition in Urdu language/Boredom
/UrduSER A comprehensive dataset for speech emotion recognition in Urdu language/Disgust
/UrduSER A comprehensive dataset for speech emotion recognition in Urdu language/Fear
/UrduSER A comprehensive dataset for speech emotion recognition in Urdu language/Happy
/UrduSER A comprehensive dataset for speech emotion recognition in Urdu language/Neutral
/UrduSER A comprehensive dataset for speech emotion recognition in Urdu language/Sad
